.card_pic {
  width: 29.39453125vw; }

.card_item_desc {
  width: 26.26953125vw;
  padding: 0 1.5625vw 0 1.5625vw; }

.card_item_pic {
  width: 29.39453125vw;
  grid-template-rows: 3.51563vw 2.34375vw 8.20313vw 1fr; }

.slick-slide {
  width: 31.34765625vw; }

.footer_cards {
  flex-wrap: wrap;
  margin-left: 3.90625%; }

.footer_cards_item_left_pic {
  width: 18.75%;
  padding: 0.5859375vw 0 0.5859375vw 0; }

.footer_cards_item {
  width: 26.016260162601626016260162601626%;
  margin-right: 6.7073170731707317073170731707317%;
  margin-left: 0; }

.footer_cards_item_input {
  padding-top: 5.6644386541293757788603149427892%;
  padding-bottom: 5.6644386541293757788603149427892%; }

.footer_cards_item_form button {
  border: 0;
  outline: 0;
  height: 4.6875vw;
  border-radius: 0 8px 8px 0; }

.template_load {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3.90625%; }
  .template_load .card_item {
    padding-left: 0;
    padding-right: 2.6041666666666666666666666666667%; }
  .template_load .card_pic {
    width: 29.39453125vw; }
  .template_load .card_item_pic {
    width: 29.39453125vw; }
  .template_load .card_item_desc {
    width: 26.26953125vw;
    padding-left: 16px;
    padding-right: 16px; }

.header_menu_list {
  display: flex;
  margin-top: 18px;
  font-family: OpenSans-Regular;
  font-size: 14px; }
  .header_menu_list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    margin-left: 24px; }

.header_select {
  display: flex;
  align-items: center;
  font-family: OpenSans-Regular;
  font-size: 14px; }
  .header_select option {
    font-family: OpenSans-Regular;
    font-size: 14px; }
  .header_select a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    margin-left: 24px; }

/*Chavo page*/
.chavo_obertka {
  display: flex; }
  .chavo_obertka .zag {
    font-size: 36px;
    margin-top: 48px; }

.chavo-tags {
  width: 305px;
  padding: 0 40px 0 40px; }

.chavo-q_obertka {
  width: 705px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .chavo-q_obertka .question_block {
    font-family: OpenSans-Regular;
    line-height: 1.38; }
    .chavo-q_obertka .question_block h6 {
      margin-top: 32px;
      font-size: 18px; }
    .chavo-q_obertka .question_block .question_block_answear {
      margin-top: 32px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6); }

.chavo-tags_inp {
  margin-top: 40px;
  width: 241px;
  padding: 14px 0 14px 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px; }

.chavo-tags_list {
  font-family: OpenSans-Regular;
  font-size: 16px; }
  .chavo-tags_list li {
    margin-top: 24px; }
  .chavo-tags_list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6); }
  .chavo-tags_list select {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 0;
    font-size: 16px; }
