/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@charset "UTF-8";
body {
  margin: 0;
  font-size: 12px;
  background-color: #f5f5f5; }

@font-face {
  font-family: OpenSans-Regular;
  font-display: swap;
  font-weight: normal;
  src: url(d7d5d4588a9f50c99264bc12e4892a7c.ttf); }

@font-face {
  font-family: OpenSans-Bold;
  font-display: swap;
  font-weight: bold;
  src: url(f5331cb6372b6c0d8baf2dd7e200498c.ttf); }

@font-face {
  font-family: OpenSans-SemiBold;
  font-display: swap;
  font-weight: normal;
  src: url(e1c83f9474e0cc1d84a13c6d1ddf3ca5.ttf); }

.header_ob {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff; }

.header_menu_gumb, .header_find {
  margin-left: 16px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: 16px; }

.header_logo {
  margin-top: 6px; }

/*Find*/
.header_find-form {
  margin: 0;
  background-color: #fff;
  padding-left: 5%; }
  .header_find-form .hr {
    margin-bottom: 0; }

.header_hide {
  width: 0%;
  height: 0;
  overflow: hidden;
  background-color: transparent; }

.header_find-form_inp_write {
  outline: none;
  border: none; }

.header_find-form_inp {
  width: 100%; }

.header_find-form_inp_close {
  outline: none;
  border: none;
  -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0iYSIgZD0iTTEwIDguM0wxNi4zIDIgMTggMy43IDExLjcgMTBsNi4zIDYuMy0xLjcgMS43LTYuMy02LjNMMy43IDE4IDIgMTYuMyA4LjMgMTAgMiAzLjcgMy43IDJ6Ii8+CiAgICA8L2RlZnM+CiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxtYXNrIGlkPSJiIiBmaWxsPSIjZmZmIj4KICAgICAgICAgICAgPHVzZSB4bGluazpocmVmPSIjYSIvPgogICAgICAgIDwvbWFzaz4KICAgICAgICA8ZyBmaWxsPSIjMDAwIiBmaWxsLW9wYWNpdHk9Ii45IiBtYXNrPSJ1cmwoI2IpIj4KICAgICAgICAgICAgPHBhdGggZD0iTTAgMGgyMHYyMEgweiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
  background-position: right;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: 83.75%;
  margin-top: 5.9210526315789473684210526315789%; }

.header_find-form_inp_write {
  padding: 1.9736842105263157894736842105263% 0  1.9736842105263157894736842105263% 0;
  font-size: 24px; }

.header_find-form_select {
  padding: 4.6357615894039735099337748344371% 0  4.6357615894039735099337748344371% 0;
  font-family: OpenSans-Regular;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.3px;
  font-size: 14px;
  width: 145.89371980676328502415458937198%;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  align-items: center; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  position: relative;
  outline: none;
  padding: 5px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOCA2Ij4KICAgIDxkZWZzPgogICAgICAgIDxwYXRoIGlkPSJhIiBkPSJNNCA2TDAgMGg4eiIvPgogICAgPC9kZWZzPgogICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+CiAgICAgICAgICAgIDx1c2UgeGxpbms6aHJlZj0iI2EiLz4KICAgICAgICA8L21hc2s+CiAgICAgICAgPGcgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuNiIgbWFzaz0idXJsKCNiKSI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wIDBoOHY2SDB6Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 8px 6px; }

.header_find-form_inp_btn {
  border: none;
  outline: none;
  -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0iYSIgZD0iTTggMTZoNHYtMkg4djJ6TTEgNHYyaDE4VjRIMXptMyA3aDEyVjlINHYyeiIvPgogICAgPC9kZWZzPgogICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+CiAgICAgICAgICAgIDx1c2UgeGxpbms6aHJlZj0iI2EiLz4KICAgICAgICA8L21hc2s+CiAgICAgICAgPGcgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuOSIgbWFzaz0idXJsKCNiKSI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wIDBoMjB2MjBIMHoiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=);
  background-color: rgba(0, 0, 0, 0.9);
  width: 20px;
  height: 20px;
  margin-right: 16px; }

.header_find-form_obertka {
  display: flex; }

input[type=radio] {
  display: none; }

.header_find-form_toggle {
  display: flex; }

.header_find-form_inp_btn_label {
  display: flex;
  background-color: rgba(0, 0, 0, 0.9);
  width: 20px;
  height: 20px;
  margin: 16px; }
  .header_find-form_inp_btn_label:first-child {
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0iYSIgZD0iTTIgMWg2YTEgMSAwIDAgMSAxIDF2NmExIDEgMCAwIDEtMSAxSDJhMSAxIDAgMCAxLTEtMVYyYTEgMSAwIDAgMSAxLTF6bTEwIDBoNmExIDEgMCAwIDEgMSAxdjZhMSAxIDAgMCAxLTEgMWgtNmExIDEgMCAwIDEtMS0xVjJhMSAxIDAgMCAxIDEtMXptMCAxMGg2YTEgMSAwIDAgMSAxIDF2NmExIDEgMCAwIDEtMSAxaC02YTEgMSAwIDAgMS0xLTF2LTZhMSAxIDAgMCAxIDEtMXpNMiAxMWg2YTEgMSAwIDAgMSAxIDF2NmExIDEgMCAwIDEtMSAxSDJhMSAxIDAgMCAxLTEtMXYtNmExIDEgMCAwIDEgMS0xeiIvPgogICAgPC9kZWZzPgogICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+CiAgICAgICAgICAgIDx1c2UgeGxpbms6aHJlZj0iI2EiLz4KICAgICAgICA8L21hc2s+CiAgICAgICAgPGcgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuOSIgbWFzaz0idXJsKCNiKSI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wIDBoMjB2MjBIMHoiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=); }
  .header_find-form_inp_btn_label:nth-child(3) {
    -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0iYSIgZD0iTTAgMGw2IDJ2MThsLTYtMlYwem0xNCAwbDYgMnYxOGwtNi0yVjB6TTcgMmw2LTJ2MThsLTYgMlYyeiIvPgogICAgPC9kZWZzPgogICAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8bWFzayBpZD0iYiIgZmlsbD0iI2ZmZiI+CiAgICAgICAgICAgIDx1c2UgeGxpbms6aHJlZj0iI2EiLz4KICAgICAgICA8L21hc2s+CiAgICAgICAgPGcgZmlsbD0iIzAwMCIgZmlsbC1vcGFjaXR5PSIuMyIgbWFzaz0idXJsKCNiKSI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wIDBoMjB2MjBIMHoiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=); }

.zag {
  font-family: OpenSans-SemiBold;
  font-size: 36px;
  margin-top: 11.111111111111111111111111111111%; }

h4, h6 {
  margin: 0; }

/*Стили для описания карточек*/
.card_zag {
  display: flex;
  justify-content: space-between;
  padding: 0 5.5555555555555555555555555555556%; }

.watchall {
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #ee3a49;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2.43056%; }

.desc {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 6.9444444444444444444444444444444%;
  margin-bottom: 5.5555555555555555555555555555556%;
  padding-left: 5.5555555555555555555555555555556%;
  line-height: 1.33;
  letter-spacing: 0.1px; }

/*Стили для карточки*/
.card_item_pic {
  display: grid;
  grid-template-columns: 27.35% 1fr 1fr;
  grid-template-rows: 11.25vw 7.5vw 21.875vw 1fr;
  font-family: OpenSans-SemiBold; }
  .card_item_pic_bonus {
    width: 100%;
    font-size: 24px;
    padding: 20.454545454545454545454545454545% 0  20.454545454545454545454545454545% 0;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 5.9027777777777777777777777777778%;
    margin-top: 18.18181818181818181818181818181816%; }
    .card_item_pic_bonus_icon {
      width: 18.181818181818181818181818181818%;
      padding: 9.0909090909090909090909090909091% 0  9.0909090909090909090909090909091% 0; }
  .card_item_pic_last_bonus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
    width: 45.454545454545454545454545454545%;
    padding: 13.636363636363636363636363636364% 0 13.636363636363636363636363636364% 0;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 22.727272727272727272727272727273%;
    margin-left: 5.9027777777777777777777777777778%; }

.card_item {
  margin-top: 7.8125vw;
  padding-left: 5.5555555555555555555555555555556vw;
  padding-right: 5.5555555555555555555555555555556vw; }
  .card_item_pic_src {
    z-index: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3; }
  .card_item_pic_time {
    width: 90vw;
    padding: 3.4375vw 0 3.4375vw 0;
    background-color: rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: OpenSans-Bold;
    color: #ffffff;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    z-index: 2; }
    .card_item_pic_time_text {
      margin-right: 16px; }

.card_pic {
  width: 90vw;
  border-radius: 10px 10px 0 0; }

.card_item_desc {
  width: 81vw;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding-left: 5.6247517199436118640075652910633%;
  padding-right: 5.6247517199436118640075652910633%; }
  .card_item_desc_categ {
    color: #ee3a49;
    font-family: OpenSans-SemiBold;
    font-size: 10px;
    padding-top: 6.3276232392509500223224486495797%; }
  .card_item_desc_zag {
    color: rgba(0, 0, 0, 0.9);
    font-family: OpenSans-SemiBold;
    margin-top: 3.5153462440283055679569159164332%;
    font-size: 16px;
    height: 48px; }
  .card_item_desc_addr {
    color: rgba(0, 0, 0, 0.6);
    font-family: OpenSans-Regular;
    font-size: 12px; }
  .card_item_desc_time {
    color: rgba(0, 0, 0, 0.9);
    font-family: OpenSans-Regular;
    font-size: 14px;
    margin-bottom: 13.358315727307561158236280482446%; }
  .card_item_desc_tel {
    font-family: OpenSans-Regular;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px; }

.hr {
  color: rgba(0, 0, 0, 0.12); }

.card_item_desc_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 17px; }
  .card_item_desc_bottom_buyers {
    color: rgba(0, 0, 0, 0.3);
    font-family: OpenSans-Regular;
    font-size: 12px; }
  .card_item_desc_bottom_btn {
    background-color: #6ebc40;
    color: #ffffff;
    font-family: OpenSans-Bold;
    width: 45.347966547965141826644215321988%;
    padding: 6px 0 6px 0;
    font-size: 14px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04); }

.bg-pink {
  background-color: #ee3a49; }

.card_item_desc_pic {
  padding-top: 7.2916666666666666666666666666667%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .card_item_desc_pic_bonus {
    font-family: OpenSans-SemiBold;
    font-size: 24px; }
    .card_item_desc_pic_bonus_icon {
      width: 5vw;
      height: 5vw; }

.partners .card_item_desc {
  border-radius: 10px; }

.addr-partner {
  margin-top: 5.2083333333333333333333333333333%;
  padding-bottom: 6.25%; }

/*Map*/
.map_block {
  width: 90%;
  height: 128.75vw;
  border-radius: 10px;
  background-color: grey;
  margin-left: 5%; }

.map_nav {
  font-family: OpenSans-Regular;
  font-size: 16px; }

.map_nav_list {
  display: flex;
  margin-top: 18px;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.3); }

.nav_active {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
  border-bottom: 3px solid #6ebc40; }

.map .hr {
  margin-top: 0;
  margin-bottom: 25px; }

/*Чаво*/
.question {
  font-family: OpenSans-Regular;
  padding-bottom: 25%; }
  .question h6 {
    margin-left: 5%;
    font-size: 18px;
    margin-top: 14.0625%;
    line-height: 1.33;
    letter-spacing: 0.1px;
    margin-bottom: 18.75%; }
  .question p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 5%;
    line-height: 1.38;
    letter-spacing: 0.2px; }

/*Футер*/
.footer_links {
  font-family: OpenSans-Regular;
  font-size: 14px;
  padding-left: 16px; }
  .footer_links_item {
    width: 94.820121619975438954608159139771%;
    padding-top: 5.9375%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer_links_item_left {
    display: flex;
    align-items: center; }
  .footer_links_item_left_pic {
    width: 12.5vw;
    height: 12.5vw;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px; }

.bg-black {
  background-color: #1d2737; }

.bg-lilo {
  background-color: #675dac; }

.bg-blue {
  background-color: #2ca5e0; }

.bg-green {
  background-color: #6ebc40; }

.footer_links_item_go {
  transform: rotate(180deg); }

.footer_end {
  font-family: OpenSans-Regular;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.625%;
  padding-bottom: 5%;
  line-height: 1.43;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.3); }

.hide {
  display: none; }

.header_find-form {
  position: sticky; }

.template_load {
  display: flex;
  flex-wrap: wrap; }
  .template_load .card_item {
    padding-left: 5%;
    padding-right: 5%; }
  .template_load .card_pic {
    width: 90vw; }
  .template_load .card_item_pic {
    width: 90vw; }
  .template_load .card_item_desc {
    width: 80vw;
    padding-left: 5vw;
    padding-right: 5vw; }

.map_block_b {
  width: 100%;
  height: 100vh; }
